<h2>ゲストとして参加</h2>
<div>
  <%= devise_error_messages! %>
  <%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
  <div>
    <div class="field">
      <%= f.hidden_field :email, :value => @mail_address %>
    </div>
    <div class="field">
      <%= f.label :name, "ニックネーム" %><br>
      <%= f.text_field :name %>
    </div>
    <div class="field">
      <%= f.hidden_field :password, :value => @password %>
    </div>

    <div class="field">
      <%= f.hidden_field :password_confirmation, :value => @password %>
    </div>

    <div class="field">
      <%= f.hidden_field :isGuest, :value => 't' %>
    </div>

    <div class="actions">
      <%= f.submit "ビンゴに参加" %>
    </div>
  </div>
  <% end %>
</div>