<script src="http://js.nicedit.com/nicEdit-latest.js" type="text/javascript"></script>
<script type="text/javascript">bkLib.onDomLoaded(function() {
  new nicEditor().panelInstance('user-detail');
});</script>
<%= javascript_include_tag "users" %>

<div class="center70">
  <h2>ユーザー情報変更</h2>

  <%= form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :put }) do |f| %>
  <%= devise_error_messages! %>


  <div class="field">
    <%= f.label :email,"メールアドレス" %><br />
    <%= f.email_field :email, autofocus: true %>
  </div>
  <div class="field">
   <%= f.label :name,"名前" %><br />
   <%= f.text_field :name %>
 </div>
 <% if devise_mapping.confirmable? && resource.pending_reconfirmation? %>
 <div>Currently waiting confirmation for: <%= resource.unconfirmed_email %></div>
 <% end %>
 <div class="field">
  <%= f.label :password %> <i>(変更しない場合は何も入力しないでください)</i><br />
  <%= f.password_field :password, autocomplete: "off" %>
  <% if @minimum_password_length %>
  <br />
  <em><%= @minimum_password_length %> characters minimum</em>
  <% end %>
</div>

<div class="field">
  <%= f.label :password_confirmation %><br />
  <%= f.password_field :password_confirmation, autocomplete: "off" %>
</div>
<br>
<div class=”controls”>
  <p>プロフィール</p>
  <%= f.text_area :detail, rows: 10, cols: 40, :style => 'width: 100%', :id => 'user-detail' %>
</div>

<div class="field">
  <%= f.label :current_password %> <i>(変更を保存する場合は、現在のパスワードを入力してください)</i><br />
  <%= f.password_field :current_password, autocomplete: "off" %>
</div>

<div class="actions">
  <%= f.submit "更新" %>
</div>
<% end %>

<h3>アカウントを削除</h3>

<p> <%= button_to "削除", registration_path(resource_name), data: { confirm: "本当に削除しますか?" }, method: :delete %></p>
</div>