<script src="http://js.nicedit.com/nicEdit-latest.js" type="text/javascript"></script>
<script type="text/javascript">bkLib.onDomLoaded(function() {
  new nicEditor().panelInstance('user-detail');
});</script>

<div class="center70">
  <% if @source == Users::RegistrationsController::FROM_TOP_PAGE %>
  <%= render :partial => "direct-create-room", :locals => { mail_address: @mail_address, password: @password } %>
  <% else %>
  <% if @isGuest %>
  <%= render :partial => "new-guest", :locals => { mail_address: @mail_address, password: @password } %>
  <% else %>
  <%= javascript_include_tag "Squire-UI.js" %>
  <%= javascript_include_tag "squire-raw.js" %>
  <%= javascript_include_tag "users" %>
  <h2>新規登録</h2>
  <div>
    <p class="notice"><%= notice %></p>
    <p class="alert"><%= alert %></p>

    <%= devise_error_messages! %>
    <%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>

    <div class="field">
      <%= f.label :email, "メールアドレス" %>
      <em>(賞品発送等のため、ビンゴ主催者に通知される可能性があります)</em><br>
      <%= f.email_field :email, autofocus: true %>
    </div>
    <div class="field">
      <%= f.label :name, "ニックネーム" %><br>
      <%= f.text_field :name %>
    </div>

    <div class="field">
      <%= f.label :password, "パスワード" %>
      <% if @minimum_password_length %>
      <em>(<%= @minimum_password_length %> 文字以上)</em>
      <% end %><br>
      <%= f.password_field :password, autocomplete: "off" %>
    </div>

    <div class="field">
      <%= f.label :password_confirmation, "もう一度パスワードを入力してください" %><br>
      <%= f.password_field :password_confirmation, autocomplete: "off" %>
    </div>

    <div class=”controls”>
      <p>プロフィール</p>
      <%= f.text_area :detail, rows: 10, cols: 40, :style => 'width: 100%', :id => 'user-detail' %>
    </div>

    <% if devise_mapping.rememberable? -%>
    <div class="field">
      <%= f.check_box :remember_me , {:checked => true} %>
      <%= f.label :remember_me, "次回以降自動でログイン" %>
    </div>
    <% end -%>

    <div class="actions">
      <% if @source == Users::RegistrationsController::FROM_JOIN_ROOM %>
      <%= f.submit "新規登録してビンゴに参加" %>
      <% else %>
      <%= f.submit "新規登録" %>
      <% end %>
    </div>
    <% end %>

    <%= render "devise/shared/links" %>
  </div>
  <% end %>
  <% end %>
</div>