<%= javascript_include_tag "bingo_cards.js" %>
<div id="data" data-room_id=<%= @room.id %> data-card_id=<%= @card.id %>></div>
<div id="notice" onclick="show_notice_list()"></div>
<div id="notice_list" style="display: none;"></div>
<div id="result" style="display: none;">
<%= render :partial => "result" %>
</div>
<div id="card_area" class="pre_game col-xs-12 col-sm-8 col-md-8 col-lg-4">
<%= render :partial => "bingo-card", :locals => { numbers: @numbers } %>
</div>
<div id="numbers" class="pull-left col-md-4 col-sm-4 col-xs-12">
	<p>次のナンバー　↓<div id="last_number"></div></p>
	<p id="past_numbers" onclick="display_past_number()">過去の番号(クリックで表示)</p>
	<div id="number_list_wrapper" style="display: none;">
		<ul id="number_list"></ul>
	</div>
</div>