<%= javascript_include_tag "velocity.min.js" %>
<%= javascript_include_tag "tabtab.min.js" %>
<%= javascript_include_tag "remodal.min.js" %>
<%= javascript_include_tag "bingo_cards.js" %>
<div class="remodal-bg">
	<div class="tabs">
		<div id="data" data-room_id=<%= @room.id %> data-card_id=<%= @card.id %>></div>

		<div class="center70">
			<div class="yellow-filter">
				<div id="notice" class="text-center" onclick="show_notice_list()"></div>
				<div id="notice_list" style="display: none;"></div>
			</div>
			<div id="result" style="display: none;">
				<a href="#modal">結果を表示</a>
			</div>

			<div class="remodal" data-remodal-id="modal">
				<button data-remodal-action="close" class="remodal-close"></button>
				<%= render :partial => "result" %>
				<button data-remodal-action="confirm" class="remodal-confirm">OK</button>
			</div>
			<!-- <p>次のナンバー　→<span id="last_number"></span></p> -->
		</div>
		<ul class="tabs__menu foo">
			<li class="col-xs-6"><a href="#">カード</a></li>
			<li class="col-xs-6"><a href="#">過去の番号</a></li>
		</ul>
		<div class="tabs__content">
			<div id="card_area" class="center-block tabs-item">
				<%= render :partial => "bingo-card", :locals => { numbers: @numbers } %>
			</div>
			<div class="tabs-item">
				<div id="numbers">
					<p id="past_numbers">過去の番号</p>
					<div id="number_list_wrapper">
						<ul id="number_list"></ul>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>