<%= javascript_include_tag "bingo_cards.js" %>
<div id="data" data-room_id=<%= @room.id %> data-card_number=<%= @card.id %>></div>
<button onclick="onPageLoad()">UpdateNumbers</button>
<div id="notice" onclick="show_notice_list()"></div>
<div id="notice_list" style="display: none;"></div>
<div id="result" style="display: none;">
	<h1>結果発表</h1>
	<div id="ranking" style="display: none;">
		<p>おめでとう！<span id="rank_number"></span>位！</p>
	</div>
	<div id="bingo_result_detail">
		<div>BINGO <span id="number_of_bingo"></span>ライン</div>
		<div>リーチ　<span id="number_of_one_left_line">ライン</span></div>
		<div>穴 <span id="number_of_hole"></span>個</div>
	</div>
</div>



<div id="bingo_button" style="display: none;"><button onclick="bingo()">BINGO!!!!!</button></div>
<div id="card_area" class="pre_game">
	<table boder = "3" height="600" width="500" id="bingo_card"　style="font-size: 40px">
		<thead>
			<tr class="bingo_char">
				<th>B</th>
				<th>I</th>
				<th>N</th>
				<th>G</th>
				<th>O</th>
			</tr>
		</thead>
		<tr height = "10px">
			<td style="font-size: 15px" align="center">1-15</td>
			<td style="font-size: 15px" align="center">16-30</td>
			<td style="font-size: 15px" align="center">31-45</td>
			<td style="font-size: 15px" align="center">46-60</td>
			<td style="font-size: 15px" align="center">61-75</td>
		</tr>
		<%i=0%>
		<% @numbers.each do |num|%>
		<% if i == 0 || i == 5 || i == 10 || i == 15  || i == 20 then %>
		<tr>
			<%end%>
			<% if num > 0 %>
			<td style="font-size: 40px" align="center"  data-number=<%= num %> class="bingo_number" onclick="number_click(this, <%= i %>)"><%= num%></td>
			<% else %>
			<td style="font-size: 20px" align="center" class="bingo_number" data-number=-1 onclick="number_click(this, <%= i %>)">FREE</td>
			<% end %>
			<%i += 1%>
			<% if i == 5 || i == 10 || i == 15  || i == 20 || i == 25then %>
		</tr>
		<%end%>
		<%end%>
	</table>
</div>
<div id="numbers">
	<p>次のナンバー　↓<div id="last_number"></div></p>
	<p id="past_numbers" onclick="display_past_number()">過去の番号(クリックで表示)</p>
	<div id="number_list_wrapper" style="display: none;">
		<ul id="number_list"></ul>
	</div>
</div>
<div class="page_foot"></div>
