<div class="center70">
	<h1><%= current_user.name %>さんのマイページ</h1>
	<div class="white-box"><%= raw current_user.detail %></div>
	<% if !@opened_rooms.blank? %>
	<div class="white-box">
		<h3>主催しているビンゴ</h3>
		<% for room in @opened_rooms %>
		<div class="opened-rooms">
			<p><%= link_to room.name, community_room_path(room.community_id, room.id), class: "btn btn-default" %></p>
		</div>
		<% end %>
	</div>
	<% end %>

	<% if !@joind_rooms.blank? %>
	<div class="white-box">
		<h3>現在参加中のビンゴ</h3>
		<% for room in @joind_rooms %>
		<div class="joind-rooms">
			<p><%= link_to room.name , join_room_path(room.community_id,room.id), class: "btn btn-default" %></p>
		</div>
		<% end %>
	</div>
	<% end %>

	<% if !current_user.isGuest %>

	<% if !@opened_communities.blank? %>
	<div class="white-box">
		<h3>現在開催中のビンゴ</h3>
		<% @opened_communities.each do |community| %>
		<div class="opened-community">
			<p><%= link_to "#{community.name} (#{community.community_name}) #{community.prize} #{community.date}", community_room_path(community.id, community.room_id),class: "btn btn-default" %></p>
		</div>
		<% end %>
	</div>
	<% end %>

	<% if !@own_communities.blank? %>
	<div class="white-box">
		<h3>あなたのコミュニティ一覧</h3>
		<% @own_communities.each do |community| %>
		<div class="own-communities" >
			<p><%= link_to community.name, community_path(community.id),class: "btn btn-default" %></p>
		</div>
		<% end %>
	</div>
	<% end %>


	<% if !@joined_communities.blank? %>
	<div class="white-box">
		<h3>参加中のコミュニティ一覧</h3>
		<% @joined_communities.each do |community| %>
		<div class="joined-communities" >
			<p><%= link_to community.name, community_path(community.id),class: "btn btn-default" %></p>
		</div>
		<% end %>
	</div>
	<% end %>

	<p>
		<%= link_to "ビンゴを開催する", rooms_direct_new_path, class: "btn btn-info btn-lg" %>
		<%= link_to "コミュニティ作成", new_community_path, class: "btn btn-success btn-lg" %>
		<%= link_to 'コミュニティを探す', communities_path, class: "btn btn-primary btn-lg" %>
	</p>

	<% end %>
</div>