<h1>こんにちは、<%= current_user.name %>さん</h1>


<% if !@own_communities.blank? %>
<table>
	<thead>
		<tr>
			<th>あなたのコミュニティ一覧</th>
			<th colspan="2"></th>
		</tr>
	</thead>
<tbody>
	<% @own_communities.each do |community| %>
	<tr>
		<td><%= community.name %></td>
		<td><%= link_to 'メンバーリスト', community_path(community.id) %></td>
		<td><%= link_to '削除', community, method: :delete, data: { confirm: '本当に削除してもよろしいですか?' } %></td>
	</tr>
	<% end %>
</tbody>
<% end %>

<p>
	<%= link_to 'コミュニティ一覧ページ', communities_path %>
</p>
