<h1><%= current_user.name %>さんのマイページ</h1>
<% if !@opened_communities.blank? || false %>
<h2>開催中のビンゴ</h2>
<% @opened_communities.each do |community| %>
<div class="opened_community">
	<p><%= link_to community.name + "     ("+community.community_name+")", community_path(community.id),class: "btn btn-default btn-lg" %></p>
</div>
<% end %>
<% end %>

<% if !@own_communities.blank? %>
<h2>あなたのコミュニティ一覧</h2>
<% @own_communities.each do |community| %>
<div class="own_communities" >
	<p><%= link_to community.name, community_path(community.id),class: "btn btn-default" %></p>
</div>
<% end %>
<% end %>


<% if !@joined_communities.blank? %>
<h2>参加中のコミュニティ一覧</h2>
<% @joined_communities.each do |community| %>
<div class="joined_communities" >
	<p><%= link_to community.name, community_path(community.id),class: "btn btn-default btn-sm" %></p>
</div>
<% end %>
<% end %>



<p>
	<%= link_to 'コミュニティを探す', communities_path, class: "btn btn-primary btn-lg" %>
</p>
