<% if isWindow %>
<%= javascript_include_tag "rooms-members.js" %>
<%= javascript_include_tag "application" %>
<%= stylesheet_link_tag "application", :media => "all" %>
<% end %>

<h3>参加者一覧<button type="button" class="btn btn-primary btn-xs" onclick="joined_user_update(<%= room_id %>)">更新</button></h3>
<div id="member-list">
	<%= render :partial => "member_list", :locals => {room_id: room_id, members: members, cards: cards, isWindow: false} %>
</div>