<%= javascript_include_tag "application" %>
<%= javascript_include_tag "rooms-number-generator" %>
<%= csrf_meta_tags %>
<div id="number-generator">
	<%= image_tag 'generator.png', :size => '300x250'%>
	<div id="number-display"></div>
	<button id="next_number_button" class="btn btn-info" onclick="random_number_add(<%= room.id %>)">次の番号を出力</button>
</div>