<%= javascript_include_tag "Squire-UI.js" %>
<%= javascript_include_tag "squire-raw.js" %>
<%= javascript_include_tag "rooms" %>

<%= javascript_tag do %>
var $room_detail = '<%= raw @room.detail.gsub("'", "\\\\'") %>';
<% end %>

<h1>Rooms#edit</h1>
<p>Find me in app/views/rooms/edit.html.erb</p>
