<script src="http://js.nicedit.com/nicEdit-latest.js" type="text/javascript"></script>
<script type="text/javascript">bkLib.onDomLoaded(function() {
        new nicEditor().panelInstance('room-detail');
        });</script>

<%= javascript_include_tag "rooms-new" %>
<div class="center70">
	<div><%= @community.name %></div>
	<h1>ビンゴ部屋作成</h1>
	<%= form_for([@community,@room]) do |f|%>
	<div class="form-group">
		<%= f.label :name, "部屋の名前" %>
		<%= f.text_field :name %>
	</div>

	<div class=”controls”>
		<p>部屋の説明</p>
		<%= f.text_area :detail, rows: 10, cols: 40, :style => 'width: 100%', :id => 'room-detail' %>
	</div>
	<div class="form-group">
		<%= f.label :AllowJoinDuringGame, "途中参加許可" %>
		<%= f.check_box :AllowJoinDuringGame ,{},"true","false" %>
	</div>
	<div class="form-group">
		<%= f.label :AllowGuest, "ゲスト許可" %>
		<%= f.check_box :AllowGuest ,{},"true","false" %>
		<p>(許可の場合、参加者のメールアドレスは通知されません)</p>
	</div>
	<div class="form-group">
		<%= f.label :number_of_free, "フリーの個数(１つは真ん中に配置されます)" %>
		<%= f.number_field :bingo_score %>
	</div>
	<div class="form-group" >
		<%= f.label :canUseItem, "アイテム使用許可" %>
		<span onclick="show_room_detail()"><%= f.check_box :canUseItem ,{},"true","false" %></span>
	</div>

	<div id="item-setting" style="display:none;">
		<div class="form-group" >
			<%= f.label :can_bring_item, "アイテム持ち込み許可" %>
			<span onclick="show_profit_item_detail()"><%= f.check_box :can_bring_item ,{},"true","false" %></span>
		</div>
		<p>開始時に配布するアイテムの枚数</p>
		<div class="form-group">
			<%= f.number_field :profit %>個
		</div>
		<div id="profit-item" style="display: none;">
			<p>終了時に配布するアイテムの枚数</p>
			<div class="form-group">
				<%= f.label :bingo_score, "ビンゴ１列につきアイテム" %>
				<%= f.number_field :bingo_score, :step =>0.5 %>個
			</div>
			<div class="form-group">
				<%= f.label :riichi_score, "リーチ１列につきアイテム" %>
				<%= f.number_field :riichi_score, :step =>0.5 %>個
			</div>
			<div class="form-group">
				<%= f.label :hole_score, "穴一つにつきアイテム" %>
				<%= f.number_field :hole_score, :step =>0.2 %>個
			</div>
		</div>
	</div>

	<%= f.submit "作成", class: "btn btn-info" %>
	<% end %>
</div　class="form-group">