<%= javascript_include_tag "rooms.js" %>
<div class="center70">
	<h1><%= @room.name %></h1>
	<h2>ビンゴ結果発表</h2>
	<div class="white-box">
		<h3>ビンゴしたユーザー一覧</h3>
		<% if !@bingo_list.blank? %>
		<% @bingo_list.each_with_index do |user, i| %>
		<div>
			<div>
				<div><%= i+1 %>位</div>
				<%= user.name %> さん
				<span onclick="view_mail_address(this)">
					<a href="#" onclick="">メールアドレス表示</a>
					<span class="view-mail-addess" style="display: none;">
						<%= user.email %>
					</span>
				</span>
				<span class="note">放送中は表示しないように注意してください</span>
			</div>
			<div><%= user.times %>回目 <%= user.seconds %>ms</div>
		</div>
		<% end %>
		<% end %>
	</div>
	<p>このページは部屋作成後、１週間で削除されます。</p>
	<%= link_to "マイページに戻る", pages_user_index_path %>
	<br>

</div>