<%= javascript_include_tag "rooms.js" %>

<div class="center70">
	<div id="data" data-community_id=<%= @community.id %> data-room_id=<%= @room.id %> data-condition=<%= @room.isPlaying %>></div>
	<h1><%= @room.name %></h1>
	<div id="notice"></div>
	<% if @room.AllowGuest %>
	<%= image_tag 'allow-guest.png', :size => '90x30'%>
	<% end %>
	<% if @room.canUseItem %>
	<%= image_tag 'allow-item.png', :size => '90x30'%>
	<% end %>
	<% if @room.AllowJoinDuringGame %>
	<%= image_tag 'allow-join-during-game.png', :size => '90x30'%>
	<% end %>
	<% if @room.can_bring_item %>
	<%= image_tag 'can-bring-item.png', :size => '90x30'%>
	<% end %>

	<div><%= raw @room.detail %></div>

	<% if @isRoomOrganizer %>

	<div id="game-main">
		<% if @room.isPlaying %>
		<%= render :partial => "game_main", :locals => {community: @community, room: @room} %>
		<% end %>
	</div>
	<div id="game-prev">
		<% if !@room.isPlaying %>
		<button id="start-button" onclick="start_game(<%= @room.id %>)" class="btn btn-info">ビンゴゲームを始める</button>
		<% end %>
	</div>
	<div id="notices-wrapper">
		<div class="white-box">
			<%= render :partial => "notices", :locals => {isWindow: false, room_id: @room.id} %>
			<%= link_to '別ウィンドウで開く',tool_notices_path(@room.id),
			:onclick=>"window.open(this.href,'お知らせ一覧', 'height=600, width=600');return false;"  %>
		</div>
	</div>
	<div id="show-notices" style="display: none;" onclick="show_notices()">お知らせ一覧を開く</div>
	<div class="white-box">
		<%= render :partial => "qr-code", :locals => { room: @room, svg: @svg, url: @url, isWindow: false } %>
		<%= link_to '別ウィンドウでQRコードを開く',tool_qr_code_path(@community.id, @room.id),
		:onclick=>"window.open(this.href,'QRコード', 'height=250, width=400');return false;" %>
	</div>

	<% else %>
	<% if @isRoomMember %>
	<%= link_to "ビンゴカードを見る", community_room_bingo_card_path(@community.id, @room.id, @card.id) ,class: "btn btn-info"%>
	<% else %>
	<%= link_to "このビンゴに参加する", pre_join_room_path(@community.id, @room.id),　class: "btn btn-info btn-sm" %>
	<% end %>
	<% end %>
	<div class="white-box">
		<%= render :partial => "members", :locals => {members: @members, room_id: @room.id, cards: @cards, isWindow: false } %>
		<%= link_to '別ウィンドウで開く',tool_members_path(@community.id, @room.id),
		:onclick=>"window.open(this.href,'メンバー', 'height=600, width=400');return false;" %>
	</div>
	<% if @isRoomOrganizer %>
	<%= link_to "部屋情報を修正する", edit_community_room_path(@community.id, @room.id), class: "btn btn-info btn-sm" %>
	<%= link_to 'この部屋を削除', community_room_path, method: :delete, class: "btn btn-danger btn-sm", data: { confirm: '本当に削除してもよろしいですか?' } %>
	<% end %>

</div>