<%= javascript_include_tag "rooms.js" %>
<div id="data" data-room_id=<%= @room.id %> data-condition=<%= @room.isPlaying %>></div>
<h1><%= @room.name %></h1>
<% if @room.AllowGuest %>
<p>ゲスト許可</p>
<% end %>
<p></p>
<% if @isRoomOrganizer %>
<div id="primary" data-mercury="full">
</div>
<% if @room.isPlaying %>
<div id="number_display"></div>
<button id="next_number_button" class="btn btn-info" onclick="random_number_add(<%= @room.id %>,<%= @community.id %>)">次の番号を出力</button>
<div>ビンゴしたユーザー一覧<div id="bingo_user_list"></div></div>

<% else %>
<button id="start_button" onclick="start_game(<%= @room.id %>)" class="btn btn-info" >ビンゴゲームを始める</button>
<% end %>
<br>
<br>
<div id="qr_code" class="container-fluid" >
	<div class="row" >
		<div class="col-lg-3 col-md-3">
			<p>招待用QRコード</p>
			<%= raw @svg %>
		</div>
		<div class="col-lg-3 col-md-3">
			<p>招待用URL</p>
			<%= @url %>
		</div>
	</div>
</div>
<% if @room.isPlaying %>
	<%= link_to "ゲームを終わる", community_room_result_path(@community.id,@room.id) ,class:"btn btn-info"%>
<% end %>

<% else %>
<% if @isRoomMember %>
<%= link_to "ビンゴカードを見る", community_room_bingo_card_path(@community.id,@room.id,@card.id) %>
<% else %>
<%= link_to "このビンゴに参加する", pre_join_room_path(@community.id,@room.id) %>
<% end %>
<% end %>
<div><%= raw @room.detail %></div>
<p>参加者一覧</p>
<% @members.each do |member| %>
<div>
	<p><%= member.name %></p>
</div>
<% end %>
