<%= javascript_include_tag "rooms.js" %>
<div id="data" data-room_id=<%= @room.id %> data-condition=<%= @room.isPlaying %>></div>
<h1 <% if @room.AllowGuest %> class="allow-guest" <% end %>><%= @room.name %></h1>
<% if @isRoomOrganizer %>
<div id="primary" data-mercury="full">
</div>
<% if @room.isPlaying %>

<div>
	<%= render :partial => "number-generator", :locals => { room: @room } %>
	<%= link_to '別ウィンドウで開く',tool_number_generator_path(@community.id,@room.id),
	:onclick=>"window.open(this.href,'番号選出', 'height=400, width=300');return false;" %>
</div>
<div>
	<%= render :partial => "qr-code", :locals => { room:@room, svg: @svg, url: @url } %>
	<%= link_to '別ウィンドウでQRコードを開く',tool_qr_code_path(@community.id, @room.id),
	:onclick=>"window.open(this.href,'QRコード', 'height=250, width=400');return false;" %>
</div>
<div>
	<%= render :partial => "bingo-users" %>
	<%= link_to '別ウィンドウで開く',tool_bingo_users_path(@room.id),
	:onclick=>"open_bingo_users_window(this);return false;" %>
</div>

<% else %>
<button id="start-button" onclick="start_game(<%= @room.id %>)" class="btn btn-info" >ビンゴゲームを始める</button>
<% end %>
<br>
<br>

<% if @room.isPlaying %>
<%= link_to "ゲームを終わる", community_room_result_path(@community.id,@room.id) ,class:"btn btn-info"%>
<% end %>

<% else %>
<% if @isRoomMember %>
<%= link_to "ビンゴカードを見る", community_room_bingo_card_path(@community.id,@room.id,@card.id) %>
<% else %>
<%= link_to "このビンゴに参加する", pre_join_room_path(@community.id,@room.id) %>
<% end %>
<% end %>
<div><%= raw @room.detail %></div>
<p>参加者一覧</p>
<% @members.each do |member| %>
<div>
	<p><%= member.name %></p>
</div>
<% end %>
