<h1><% @room.name %></h1>
<% if @isRoomOrganizer %>
<p>管理者です</p>
<p>
	<% form_tag("/API/#{@community.id}/#{@room.id}/add_number") do %>
	<%= label_tag(:number, "AddNum") %>
	<%= text_field_tag(:number) %>
	<%= submit_tag("Save changes")  %>
	<% end %>
</p>

<% else %>
<%= link_to "このビンゴに参加する", community_room_bingo_cards_path(@community.id,@room.id) %>
<% end %>

<p>参加者一覧</p>
<% @members.each do |member| %>
<div>
	<p><%= member.name %></p>
</div>
<% end %>
<form>
</form>