<script src="http://js.nicedit.com/nicEdit-latest.js" type="text/javascript"></script>
<script type="text/javascript">bkLib.onDomLoaded('community-detail');</script>
<%= javascript_include_tag "communities" %>
<div class="center70">
	<h2>コミュニティ作成</h2>
	<%= form_for @community do |f| %>

	<div class="field">
		<%= f.label :name,"名前" %><br />
		<%= f.text_field :name %>
	</div>

	<div class=”controls”>
		<p>コミュニティの説明</p>
		<%= f.text_area :detail, rows: 10, cols: 40, :style => 'width: 100%', :id => 'community-detail' %>
	</div>

	<div class="actions">
		<%= f.submit "作成" %>
	</div>
	<% end %>
</div>
